# ignore cache
/.cache

# vscode
/.vscode

# CLion
/.idea

# Logs
**/logs

# build artifacts
build/

# dumped output
build_errors.md
build_warnings.md

#MacOS specific
**.DS_Store

# Compressed deps
third_party/peach_editor/assimp/win64/release_v*/
third_party/peach_editor/assimp/win64/debug_v*/

third_party/peach_editor/shaderc_combined/win64/release_v*/
third_party/peach_editor/shaderc_combined/win64/debug_v*/

# JSON
/third_party/peach_core/header_only/spirv-headers/*.json
